.post__header {
  margin-bottom: var(--space-size-6);
}

.post__content {
  line-height: 1.5;

  p {
    img {
      max-width: 100%;
    }
  }

  a {
    display: inline-block;
    @media (prefers-reduced-motion: no-preference) {
      transition: transform 50ms ease-in-out;
    }

    &:focus,
    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.02);
    }
  }

  & > [class*="language-"] {
    font-size: var(--font-size-3);
    margin: 0 auto var(--space-size-6);
  }
}
