{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ],
  "plugins": ["prettier-plugin-astro"]
}
