@import '~@reach/skip-nav/styles.css';
@import '~prismjs/themes/prism-okaidia.css';

@import './utils.less';

@font-face {
  font-display: swap;
  font-family: 'hey gorgeous';
  src: url('/heygorgeous.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'polygon party';
  src: url('/polygonparty.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  line-height: 1.5;

  &:focus {
    outline: 0.1rem solid #d3055b;
  }

  &::selection {
    color: #ffffff;
    background-color: #e73212;
  }
}

html {
  font-family: 'hey gorgeous', Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
}
