@import './colors';

.page-wrapper {
  background: linear-gradient(@color-6, @color-4);
  min-height: 100vh;
  padding: 6em 0 4em 0;
}

.main-wrapper {
  .main-content {
    background-color: white;
    box-shadow: 0 0 1em #555;
    min-height: ~'calc(100vh - 10em)';
    padding: 0 2em 1em 2em;
  }
}
