@import './colors';

.page-wrapper {
  min-height: 100vh;
  padding: 6em 0 4em 0;
}

.main-wrapper {
  .main-content {
    max-width: 1200px;
    min-height: ~'calc(100vh - 10em)';
    padding: 0 2em 1em 2em;
  }
}
