@import './colors';

:root,
body {
  color: @text-color;
}

a {
  color: @link-color;

  &:active,
  &:focus,
  &:hover {
    color: @active-link-color;
  }
}

h3 {
  color: @light-text-color;
}

h4,
h5,
h6 {
  color: @extra-light-text-color;
}

h6 {
  font-style: italic;
}

/* In reference to Typed.js cursor */
.typed-cursor {
  opacity: 0;
}
