{% extends "layouts/base.html" %}

{% block preloads %}
<link rel="preload" as="style" href="/assets/styles/about.css" />
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/about.css" />
{% endblock %}

{% set projectListItems = collections.projects %}

{% block content %}
  <article class="profile-card profile-card--wrap-reverse">
    <div class="profile-card__text-container">
      {{ content | safe }}
    </div>

    <div class="profile-card__image-container">
      <img
        class="profile-card__image"
        src="/images/icons/mark.jpg"
        alt="Mark Hernandez"
        loading="lazy"
      />
    </div>
  </article>

  <h2>Past Projects</h2>

  {% include "partials/project-list.html" %}
{% endblock %}
