<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mark Hernandez (lion-byte)</title>
  </head>
  <body>
    <div class="site-container">
      {% include "partials/site-head.html" %}
      <main id="main-content" class="site-main" tabindex="-1">
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>
