.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.project-list__item-description p {
  margin-bottom: 1.5em;
}

.project-list__item-footer {
  font-size: 0.85em;
}

.project-list__item-footer-extras {
  margin: 0.5em 0;
}
