.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.project-list__item {
  border: 1px solid @color-primary;
  flex: 1 1 20rem;
  margin: @space-size-5 @space-size-6;
  padding: @space-size-7;
}

.project-list__item-description {
  p {
    line-height: 1.25;
    margin: 0 0 @space-size-5;
  }

  p:empty {
    display: none;
  }
}

.project-list__item-footer {
  border: 1px solid @color-accent;
  border-radius: 4px;
  padding: @space-size-5;
}

.project-list__item-footer-info {
  font-size: @font-size-2;
  font-weight: 300;
  margin: @space-size-2 0;
  list-style-type: none;

  li {
    margin: 0;
    padding: 0;
  }
}
