@import '~normalize.css';

@color-1: #3f033d;
@color-2: #f46e00;
@color-3: #992d18;
@color-4: #e1eaf2;
@color-5: #d3061e;
@color-6: #209bb0;

@button-border: rgba(51, 51, 51, 0.37);
@button-default: #232323;
@button-primary: lighten(@color-1, 15%);

@focus-color: rgb(211, 5, 91);

@link-color: rgb(211, 5, 91);
@active-link-color: lighten(@link-color, 15%);

@text-color: darken(@color-5, 30%);

@font-face {
  font-family: 'Cabin';
  src: url('./cabin-600.ttf');
}

:root {
  font-family: 'Cabin', Verdana, Geneva, Tahoma, sans-serif;
  color: @text-color;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: 0.1rem solid @focus-color;
  }
}

a {
  color: @link-color;

  &:active,
  &:focus,
  &:hover {
    color: @active-link-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button,
.button {
  border: 0.125em solid @button-border;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.35em 1em;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 0.1rem solid @focus-color;
  }

  &.default {
    color: @button-default;
    background-color: #fefefe;
  }

  &.primary {
    color: white;
    background-color: @button-primary;
  }
}

.label {
  border-radius: 0.5em;
  display: inline-block;
  font-size: 75%;
  padding: 0.25em 0.75em;

  &.default {
    background-color: @text-color;
    color: white;
  }

  &.info {
    background-color: @color-6;
    color: white;
  }
}

header {
  background-color: lighten(@color-1, 10%);

  & > div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;

    h1 {
      margin: 0;
    }

    a {
      color: white !important;
      text-decoration: none;
    }
  }
}

nav {
  background-color: @color-1;

  & > div {
    padding: 0.15rem 1.0875rem;
    max-width: 960px;
    margin: 0 auto 1.45rem auto;
  }

  a {
    .button();
    background-color: inherit;
    border-color: transparent;
    color: white !important;
    padding: 0.65em 1em;
    text-decoration: none;

    &:active {
      border-color: white;
      text-decoration: underline;
    }

    &:focus {
      outline: none;
    }
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem 1.0875rem;
}
