.social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    margin: 0;
    // display: inline-block;
  }
}

.social__link {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1em;
  text-decoration: none;
}

.social__link-text {
  padding-left: 0.25ch;
}
