<article class="profile-card">
  <div class="profile-card__image-container">
    <img
      class="profile-card__image"
      src="/images/icons/profile.png"
      alt="Mark Hernandez"
      loading="lazy"
    />
  </div>

  <div class="profile-card__text-container">
    <p class="profile-card__text">
      Personal site &amp; blog of Mark Hernandez. I'm a
      software developer at gWorks.
    </p>

    <div class="social">
      <p id="introduction-social-media-links-label" class="sr-only">
        Social media links
      </p>

      <ul aria-describedby="introduction-social-media-links-label">
        <li>
          <a
            class="social__link"
            href="https://github.com/MarkH817/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span aria-hidden="true"><!-- GitHub Icon --></span>
            <span class="social__link-text">
              <span class="sr-only">GitHub</span>
              @MarkH817
            </span>
          </a>
        </li>

        <li>
          <a
            class="social__link"
            href="https://www.twitter.com/lion_byte"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span aria-hidden="true"><!-- Twitter Icon --></span>
            <span class="social__link-text">
              <span class="sr-only">Twitter</span>
              @lion_byte
            </span>
          </a>
        </li>

        <li>
          <a
            class="social__link"
            href="https://www.linkedin.com/in/markhernandez1"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span aria-hidden="true"><!-- LinkedIn Icon --></span>
            <span class="social__link-text">
              <span class="sr-only">LinkedIn</span>
              Mark Hernandez
            </span>
          </a>
        </li>

        <li>
          <a
            class="social__link"
            href="mailto:mark@lion-byte.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span aria-hidden="true"><!-- Email Icon --></span>
            <span class="social__link-text">
              <span class="sr-only">Email</span>
              mark@lion-byte.com
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
