<a class="sr-only skip-link" href="#main-content">Skip to content</a>
<header class="header">
  <div class="header__name">
    <a class="header__name-link" href="/">Mark Hernandez</a>
  </div>

  <nav class="header__nav" aria-labelledby="main-nav-label">
    <p id="main-nav-label" class="sr-only">Main Navigation</p>

    <ul class="header__nav-list">
      <li><a class="header__nav-link" href="/">Home</a></li>
      <li><a class="header__nav-link" href="/about/">About</a></li>
      <li><a class="header__nav-link" href="/blog/">Blog</a></li>
      <li><a class="header__nav-link" href="/notes/">Notes</a></li>
    </ul>
  </nav>
</header>
