<a class="visually-hidden-focusable skip-link" href="#main-content"
  >Skip to main content</a
>

<header class="header d-flex flex-wrap align-items-center">
  <a class="header__name d-block text-align-center" href="/">Mark Hernandez</a>

  <nav class="header__nav" aria-label="Main Navigation">
    <ul
      class="header__nav-list list-unstyled d-flex flex-wrap justify-content-center"
    >
      {% for item in navigation.main %}
      <li>
        <a
          class="header__nav-link d-block"
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
